<div id="manage-links">
<ul>
  <li><%= link_to "Add Houses", manage_houses_path(@campaign) %></li>
  <li><%= link_to "|", "#" %></li>
  
  <li><%= link_to "Dispatch Volunteers", campaign_manage_path(@campaign) %><li>
</ul>

</div>
