// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Splash Page styles


body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1,h2,h3,h4,h5{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


// SPlash page styles


#splash-wrapper {
  width: 800px;
  margin: auto;
}

#splash-descrip{
  width: 400px;


}
