// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Splash Page styles


body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

h1,h2,h3,h4,h5{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}


// SPlash page styles


#splash-wrapper {
  width: 800px;
  margin: auto;
}


#splash-wrapper h1{
  text-align: center;
  font-size: 4.5em;
  color: #1874CD;
  margin: 10px 0 0 0;


}

#splash-descrip{
  width: 500px;
  margin: 50px 0 100px 150px;
  font-size: 1.3em;
}

.sign-up-link{
  padding: 30px 50px 30px 50px;
  font-size: 2em;
}

#splash-links{
  margin: 0 0 0 200px;

}


#wrapper{
  width: 800px;
  margin: auto;
}

#top-of-page{
  background: #efefef;
  border-radius: 20px;
 
  padding: 0 8px 5px 8px;
  margin: 10px 0 10px 0;
  overflow: auto;
}

#top-of-page h1{
  float: left;
  color: #1874CD;
}


#top-of-page ul{
  float: right;
  list-style: none;
  margin: 7px 0 0 0;
}

#top-of-page ul li{
  display: inline;
}

#top-of-page ul li a{
  color: #777;
  font-weight: bold;

}


#footer{
  border-top: dashed 2px #777;
  margin: 5px 0 0 0;
  padding: 5px 0 0 0;
  clear: both;
}

#footer ul{
  float: left;
  list-style: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}

#footer ul li {
  list-style: none;
  display: inline;


}

#footer ul li a{
  color: #777; 

}

#footer .sid{
  float: right;
  
}

#footer .sid a{
  color: #777;

}


#campaign-gallery{
  

}

#campaign-gallery ul{
  list-style: none;



}

#campaign-gallery ul li {
  
}


